.profile {
  display: flex;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  flex-wrap: nowrap;
}

.profile__clothes-items {
  flex-grow: 1;
}

.profile-page .header {
  padding-left: 0;
}

.profile-page .header__logo {
  margin-left: 40px;
}

.profile-page .header__date-and-location {
  margin-left: 40px;
}