.item-card {
  width: 325px;
  height: 328px;
  border-radius: 19px;
  border: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.item-card__info-row {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-left: 0;
}

.item-card__name {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 1);
  padding: 2px 12px 2px 12px;
  border-radius: 4px;
  position: static;
}

.item-card__image {
  width: 325px;
  height: 328px;
  border-radius: 19px;
  object-fit: cover;
  object-position: center;
}

.item-card__like-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: static;
}

.item-card__heart {
  background: transparent;
  border: none;
  width: 18px;
  height: 15px;
  vertical-align: middle;
}

.modal__delete-button {
  background-color: #fff;
  color: rgba(255, 77, 0, 1);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media screen and (max-width: 480px) {
  .card__image {
    height: 164px;
    width: 164px;
  }
  .item-card__image {
    height: 164px;
    width: 164px;
  }
}
