.cards__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  padding: 0;
  list-style-type: none;
  margin: 0;
  max-width: 1363px;
  margin-left: auto;
  margin-right: auto;
}

.main-page-container {
  width: 100%;
  min-width: 1363px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .cards__text {
    font-size: 16px;
  }

  .main-page-container {
    min-width: 0;
    width: 100%;
  }

  .cards__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
    max-width: 100%;
  }

  .cards__list li {
    width: 164px;
    height: 164px;
    flex: 0 0 calc(50% - 8px);
    margin: 0;
    box-sizing: border-box;
  }
}
